body {
    background: greenyellow;
    color: lightcyan;
}

ul {
    background: lightblue;

}

ul li {
    display: inline
}

a {
    background-color: lightpink;
    transition: all 1s;
    padding: 2px;
}

a:hover {
    background-color: gold;
}
