body {
    background: greenyellow;
    color: lightcyan;
}

ul {
    background: lightblue;

}

ul li {
    display: inline
}

a {
    background-color: lightpink;
    transition: all 1s;
    padding: 2px;
}

a:hover {
    background-color: gold;
}
.is-invalid {
            border:solid 1px red;
        }
.is-valid{
		border:solid 1px #57de75;
}
 		
.myButton {
            display: none;
            position: fixed;
            bottom: 20px;
            right: 30px;
            z-index: 99;
            font-size: 18px;
            border: none;
            outline: none;
            background-color: blue;
            color: white;
            cursor: pointer;
            padding: 15px;
            border-radius: 4px;
        }
 .myButton:hover {
            background-color: #555;
        }
		
.zle {
	
	  color: red;
	  display: block;
}
 .dobrze {
	
	color: #21ff54;
	display: block;
}